.card {
    background-color: rgba(240, 248, 255, 0.596);
    border-radius: 20px;
    border: 1px solid black;
    width: 90%;
    max-width: 300px;
    text-align: center;
    padding: 20px 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
}

.card > button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 7px 12px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: rgb(189, 12, 12);
    font-size: 20px;
    color: #fff;
    font-weight: 900;
    cursor: pointer;
    transition: background-color .2s ease-in-out;
}

.card > button:hover {
    background-color: red;
}

.card > img {
    height: 400px;
    display: block;
    margin: 0 auto;
}

.card > h1 {
    font-size: 27px;
    color: yellow;
    text-shadow: 2px 2px 2px black;
}